  @font-face {
    font-family: pixelFont;
    src: url(sources/munro.ttf);
  }

  html {
    height: 100%;
  }

  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  .button {
    font-family: pixelFont, sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    color: white;
    cursor: url("sources/cursor.png"), auto;
    background-color: transparent;
    border: 8px solid rgba(37, 24, 51, 0.61);
    margin: 30px;
    width: 150px;
    white-space: nowrap;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden; 
  }

  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.342); 
    z-index: -1; 
  }

  body {
    cursor: url("sources/cursor.png"), auto !important;
    font-family: pixelFont;
    text-align: center;
    background-image: url("sources/alice-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    color: black;
    font-size: 50px;
  }

  p {
    color: rgb(250, 224, 185);
    max-width: 350px;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  

  .button:hover {
    opacity: 0.8;
  }

  /*  
  #momoBtn:hover {
      border-radius: 10px 10px 50% 50%; 
      background-color: darkgreen;
      transform: scale(1.05); 
  }
  */

  .backBtn {
    background: none;
    border: none;
    padding: 0;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: url("sources/cursor.png"), auto;

  }

  .backBtn img {
    display: flex;
    align-items: center;
    width: 40px;
    height: auto;
}

  .backBtn:hover {
    transform: scale(1.1);
}

  .time {
    color: rgb(255, 255, 255);
    font-size: 30px;
  }